<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Spotify</title>
</head>
<body>
    <h1>What would you like to see today?</h1>
    <p><a href="/tracks" class="button">Top Tracks</a></p>
    <p><a href="/artists" class="button">Top Artists</a></p>
    <p><a href="/playback" class="button">Streaming History</a></p>
</body>
</html>
