<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='quote.css') }}"
    />
    <title>Quote</title>
  </head>
  <body>
    <div class="container">
      <h1>YOU DON'T HAVE THE KEYCODE</h1>
      <h2>You are not aby's best friend, please leave.</h2>
      <a href="/quote" class="button">Back</a>
    </div>

  </body>
</html>
