<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='quote.css') }}"
    />
    <title>Quote For Bestie</title>
  </head>
  <body>
    <div class="container">
      <h1>Hi dear bestie,</h1>
      <h2>I wish you all the best I really do. - Aby</h2>
      <h2>{{line}}</h2>
      <!-- <a href="/quote" class="button">Back</a> -->
    </div>

  </body>
</html>
