<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='quote.css') }}"
    />
    <title>Quote</title>
  </head>
  <body>
    <div class="container">
      <h1>Get Your Quote Of The Day</h1>
      <h2>What is your name?</h2>
      <form action="{{ url_for('process_form') }}" method="post">
        <input type="text" id="name" name="name" required /><br />
        <h2>Are you Aby's best friend:</h2><br />

        <input type="radio" id="tbfr" name="bfr" value="true" required />
        <h3>Yes</h3><br/>

        <input type="radio" id="fbfr" name="bfr" value="false" required />
        <h3>No</h3><br/>


        <button type="submit"><h2>Enter</h1></button>
      </form>
    </div>
    <!-- <div class="button-container">
      <a href="#" class="button">Back</a>
    </div> -->
    
  </body>
</html>
