<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Top Tracks</title>
</head>
<body>
    <h1>Pick One!</h1>
    <p><a href="/spotify/tracks/long" class="button" data-tooltip="Explore your all-time favorite tracks">All Time Favourite</a></p>
    <p><a href="/spotify/tracks/medium" class="button" data-tooltip="Rediscover memories from the last six months">Memories From Before</a></p>
    <p><a href="/spotify/tracks/short" class="button" data-tooltip="Check out your recent favorite tracks in the past four weeks">Recent Tracks</a></p>
    <p><a href="/spotify" class="button">Back</a></p>
</body>
</html>
